<form class="example-form">

	<button mat-raised-button color="primary" (click)="onChange()">Insert</button>
	<mat-form-field class="example-full-width">
		<mat-label>Favorite food</mat-label>
		<input matInput type="text" placeholder="Ex. Pizza" [(ngModel)]="food" name="food_name">
	</mat-form-field>

	<mat-form-field class="example-full-width">
		<mat-label>Leave a comment</mat-label>
		<textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="comment" name="comment"></textarea>
	</mat-form-field>

	<button mat-raised-button color="primary" (click)="onQuery()">Query</button>

	<div *ngFor="let item of items">
		{{item.food}}
		{{item.comment}}
	</div>

</form>
