<div fxFill fxLayout="column"  fxLayoutAlign="center">
	<div fxLayout="row" fxLayoutAlign="center">
	<mat-card style="width:fit-content">
		<mat-card-header>
			<mat-card-title>Login...</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form #form="ngForm">
				<div>
					<mat-form-field>
						<mat-label>Username</mat-label>
						<input matInput type="text" placeholder="ex. Taro yamada" [(ngModel)]="username" #username_field="ngModel" name="username_name" required minlength="6" maxlength="32">
						<mat-hint>6文字以上32文字まで</mat-hint>
						<mat-error *ngIf="username_field.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="username_field.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="username_field.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field>
						<mat-label>Password</mat-label>
						<input matInput type="password" placeholder="ex. ***" [(ngModel)]="password" #password_field="ngModel" name="password_name" required minlength="3" maxlength="32">
						<mat-hint>3文字以上32文字まで</mat-hint>
						<mat-error *ngIf="password_field.errors?.required;">入力してください</mat-error>
						<mat-error *ngIf="password_field.errors?.maxlength">長すぎます</mat-error>
						<mat-error *ngIf="password_field.errors?.minlength">短すぎます</mat-error>
					</mat-form-field>
				</div>
			</form>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button [disabled]="form.invalid" color="primary" (click)="login();">login</button>
		</mat-card-actions>

	</mat-card>
	</div>
</div>
