<mat-toolbar color="primary">

	<mat-toolbar-row>
		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">

			<button mat-menu-item (click)="drawer.toggle()">
				<span>sidemenu</span>
			</button>

		</mat-menu>

		<span>Angular Material</span>
		<span class="example-spacer"></span>
		<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
	</mat-toolbar-row>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize>

	<mat-drawer fxLayout="column" #drawer class="example-sidenav" mode="side">
		<div>
			<a mat-button routerLink="/abc">abc</a>
		</div>
		<div>
			<a mat-button routerLink="/xyz">xyz</a>
		</div>
	</mat-drawer>

	<div class="example-sidenav-content" style="background-color:#dddddd;">
		<router-outlet></router-outlet>
	</div>

</mat-drawer-container>



